<HEAD>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</HEAD>

<body>
  <div class="img-container">
    <div style="text-align:center" class="app">
      <h1 class="title">Vagabang</h1>
      <h2 class="title">meet your sexy tramp</h2>

    

     <app-accueil></app-accueil>
     
    </div>
</div>
</body>    

  


