
<section class="main-select">
    <section class="selections">
        <div class="ensemble">
            <section class="img-container">
                <img [src]="collegue.photoURL" alt="img" class="img">
            </section>
            <p>{{collegue.pseudo | uppercase}}</p>
            <p>{{collegue.score | score}}</p>
            <app-avis (avis)="onVoted($event)" [score]=collegue.score></app-avis>
        </div>
    </section>
</section>



<!-- <img src="https://i.pinimg.com/originals/b4/1b/9a/b41b9a2a5eed598dbf36aaea9e1cdf98.jpg" alt="beau_gosse" height="30%" width="30%"> 

"https://i.gzn.jp/img/2010/07/22/chinas_sexiest_tramp/tramp00_m.jpg"
              -->

